* {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
 padding: 15px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px solid gray;
    display: inline-block;
}

.o {
    position: relative;
}

.o:after {
    position: absolute;
    content: "\1F6E1";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x {
    position: relative;
}

.x:after {
    position: absolute;
    content: "\2694";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#btn {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(58, 58, 255);
    padding: 2px;
    margin: 20px;
    border: none;
    box-shadow: 0 0 0.7em rgb(87, 104, 255);
}

#btn:hover {
    background-color: rgb(35, 35, 161);;
}

#btn:active {
    box-shadow:none;
}